input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.rdaAuth{
  margin: 40px;
}
.rdaAuth label{
 float: left;
}
.rdaAuth .btn{
  width: 200px;
  height: 45px;
}